In [205]:
import pandas as pd

In [206]:
df1 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\기타관광.csv', encoding = 'cp949')
df2 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\문화관광.csv', encoding = 'cp949')
df3 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\숙박.csv', encoding = 'cp949')
df4 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\역사관광.csv', encoding = 'cp949')
df5 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\음식.csv', encoding = 'cp949')
df6 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\자연관광.csv', encoding = 'cp949')
df7 = pd.read_csv(r'C:\Users\puzzl\gongmo\pow-gongmo\data\검색건수\체험관광.csv', encoding = 'cp949')

In [207]:
df7[df7['시군'] == '울산광역시']

        시군 기초지자체 카테고리중분류명   중분류 검색건수
161  울산광역시    남구      체험관광        83
162  울산광역시    동구      체험관광        33
163  울산광역시    북구      체험관광      1139
164  울산광역시   울주군      체험관광     21070
165  울산광역시    중구      체험관광       575

In [208]:
df1['시군구'] = df1.기초지자체.str[:4].str.strip()
df2['시군구'] = df2.기초지자체.str[:4].str.strip()
df3['시군구'] = df3.기초지자체.str[:4].str.strip()
df4['시군구'] = df4.기초지자체.str[:4].str.strip()
df5['시군구'] = df5.기초지자체.str[:4].str.strip()
df6['시군구'] = df6.기초지자체.str[:4].str.strip()
df7['시군구'] = df7.기초지자체.str[:4].str.strip()

In [209]:
df1['시군구'] = df1.기초지자체.str[:4].str.strip()
df1 = df1.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df2['시군구'] = df2.기초지자체.str[:4].str.strip()
df2 = df2.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df3['시군구'] = df3.기초지자체.str[:4].str.strip()
df3 = df3.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df4['시군구'] = df4.기초지자체.str[:4].str.strip()
df4 = df4.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df5['시군구'] = df5.기초지자체.str[:4].str.strip()
df5 = df5.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df6['시군구'] = df6.기초지자체.str[:4].str.strip()
df6 = df6.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

df7['시군구'] = df7.기초지자체.str[:4].str.strip()
df7 = df7.groupby(['시군','시군구'])['중분류 검색건수'].sum().reset_index()

In [210]:
df1['기타관광_검색건수'] = df1['중분류 검색건수']
df2['문화관광_검색건수'] = df2['중분류 검색건수']
df3['숙박_검색건수'] = df3['중분류 검색건수']
df4['역사관광_검색건수'] = df4['중분류 검색건수']
df5['음식_검색건수'] = df5['중분류 검색건수']
df6['자연관광_검색건수'] = df6['중분류 검색건수']
df7['체험관광_검색건수'] = df7['중분류 검색건수']

In [211]:
df1 = df1[['시군','시군구','기타관광_검색건수']]
df2 = df2[['시군','시군구','문화관광_검색건수']]
df3 = df3[['시군','시군구','숙박_검색건수']]
df4 = df4[['시군','시군구','역사관광_검색건수']]
df5 = df5[['시군','시군구','음식_검색건수']]
df6 = df6[['시군','시군구','자연관광_검색건수']]
df7 = df7[['시군','시군구','체험관광_검색건수']]

In [212]:
df6.isnull().sum()

시군           0
시군구          0
자연관광_검색건수    0
dtype: int64

In [213]:
df1.loc[df1['시군'].str.contains('광역시'),'시군구'] = df1[df1['시군'].str.contains('광역시')]['시군'] + ' ' + df1[df1['시군'].str.contains('광역시')]['시군구']
df2.loc[df2['시군'].str.contains('광역시'),'시군구'] = df2[df2['시군'].str.contains('광역시')]['시군'] + ' ' + df2[df2['시군'].str.contains('광역시')]['시군구']
df3.loc[df3['시군'].str.contains('광역시'),'시군구'] = df3[df3['시군'].str.contains('광역시')]['시군'] + ' ' + df3[df3['시군'].str.contains('광역시')]['시군구']
df4.loc[df4['시군'].str.contains('광역시'),'시군구'] = df4[df4['시군'].str.contains('광역시')]['시군'] + ' ' + df4[df4['시군'].str.contains('광역시')]['시군구']
df5.loc[df5['시군'].str.contains('광역시'),'시군구'] = df5[df5['시군'].str.contains('광역시')]['시군'] + ' ' + df5[df5['시군'].str.contains('광역시')]['시군구']
df6.loc[df6['시군'].str.contains('광역시'),'시군구'] = df6[df6['시군'].str.contains('광역시')]['시군'] + ' ' + df6[df6['시군'].str.contains('광역시')]['시군구']
df7.loc[df7['시군'].str.contains('광역시'),'시군구'] = df7[df7['시군'].str.contains('광역시')]['시군'] + ' ' + df7[df7['시군'].str.contains('광역시')]['시군구']

In [219]:
df7[df7['시군']== '울산광역시']

        시군        시군구  체험관광_검색건수
145  울산광역시   울산광역시 남구         83
146  울산광역시   울산광역시 동구         33
147  울산광역시   울산광역시 북구       1139
148  울산광역시  울산광역시 울주군      21070
149  울산광역시   울산광역시 중구        575

In [216]:
df7.isnull().sum()

시군           0
시군구          0
체험관광_검색건수    0
dtype: int64

In [217]:
df1 = df1[['시군','시군구','기타관광_검색건수']]
df2 = df2[['시군','시군구','문화관광_검색건수']]
df3 = df3[['시군','시군구','숙박_검색건수']]
df4 = df4[['시군','시군구','역사관광_검색건수']]
df5 = df5[['시군','시군구','음식_검색건수']]
df6 = df6[['시군','시군구','자연관광_검색건수']]
df7 = df7[['시군','시군구','체험관광_검색건수']]

In [218]:
df6.isnull().sum()

시군           0
시군구          0
자연관광_검색건수    0
dtype: int64

In [220]:
#df1.to_csv('기타관광_전체.csv', encoding = 'cp949', index = False)
#df2.to_csv('문화관광_전체.csv', encoding = 'cp949', index = False)
#df3.to_csv('숙박_전체.csv', encoding = 'cp949', index = False)
#df4.to_csv('역사관광_전체.csv', encoding = 'cp949', index = False)
#df5.to_csv('음식_전체.csv', encoding = 'cp949', index = False)
#df6.to_csv('자연관광_전체.csv', encoding = 'cp949', index = False)
df7.to_csv('체험관광_전체.csv', encoding = 'cp949', index = False)