In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/seoihwan/Desktop/escuela/문화관광빅데이터/pow-gongmo/data/final/final_animal_visit_travel_검색건수.csv',encoding='cp949')

In [3]:
df

,시군구,방문자 수,관광명소,기타,숙박,음식점,카페,A10,A11,A12,기타관광_검색건수,문화관광_검색건수,숙박_검색건수,역사관광_검색건수,음식_검색건수,자연관광_검색건수,체험관광_검색건수
0,가평군,22105529,13,11,223,35,37,4.17,3.95,3.99,157771,234906,1311127,17744,1226985,361855,1289
1,강남구,103309405,2,11,3,10,36,4.10,4.13,3.98,274883,1649245,1664707,127637,5789966,0,464
2,강동구,23706460,2,6,1,2,18,3.60,3.92,3.96,2841,191445,76353,28654,829629,0,559
3,강릉시,26260986,8,11,70,33,33,4.27,4.13,3.75,147345,600572,1401723,196020,2912455,1026485,46494
4,강북구,18328235,1,5,1,6,19,4.50,4.00,3.89,14735,88315,115210,124365,415549,5433,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,홍천군,15071693,5,5,69,6,8,4.26,4.15,4.08,138961,746692,2443167,31919,1038686,117147,9814
225,화성시,51736786,13,25,24,9,66,4.19,4.02,3.98,290981,760251,656112,198256,3876151,711044,139176
226,화순군,7963778,4,4,4,2,8,4.41,4.16,3.97,20464,58215,50249,44275,218796,35596,9258
227,화천군,2428709,3,2,11,0,0,4.00,4.23,4.11,19009,52687,48962,1953,25393,11864,633
228,횡성군,8176074,2,0,31,2,4,4.08,4.24,4.13,44203,39401,239893,2293,318049,44512,3575

## 반려동물 동반 가능 장소 TOP10's 시군구

In [42]:
from collections import Counter
lst = []

[lst.append(i) for i in df.sort_values('관광명소',ascending=False)['시군구'].head(10).values]
[lst.append(i) for i in df.sort_values('기타',ascending=False)['시군구'].head(10).values]
[lst.append(i) for i in df.sort_values('음식점',ascending=False)['시군구'].head(10).values]
[lst.append(i) for i in df.sort_values('숙박',ascending=False)['시군구'].head(10).values]
[lst.append(i) for i in df.sort_values('카페',ascending=False)['시군구'].head(10).values]
Counter(lst).most_common(10)

[('제주시', 5),
 ('서귀포시', 4),
 ('가평군', 3),
 ('화성시', 3),
 ('경주시', 3),
 ('양평군', 3),
 ('고양시', 3),
 ('수원시', 3),
 ('남양주시', 3),
 ('창원시', 2)]

In [47]:
df1 = df.drop(columns=['관광명소','기타','음식점','숙박','카페'],axis=1)

## 관광하기 좋은 장소 TOP10's 시군구

In [49]:
lst = []

for t in df.columns:
    [lst.append(i) for i in df.sort_values(t,ascending=False)['시군구'].head(10).values]
Counter(lst).most_common(10)

[('제주시', 9),
 ('서귀포시', 9),
 ('화성시', 7),
 ('용인시', 7),
 ('수원시', 7),
 ('고양시', 6),
 ('창원시', 5),
 ('경주시', 5),
 ('강남구', 4),
 ('가평군', 4)]