In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# HEAD(30) 보여주기
N = 30
with open('./2023 문화관광 데이터 분석대회_민간데이터/2023년 문화관광 데이터 분석대회(카드데이터_내국인).txt', encoding='utf-8') as myfile:
    head = [next(myfile) for x in range(N)]
print(len(head))
for l in head:
    print(l)

30
자택광역시도|가맹점광역시도|가맹점시군구|GB3|GB2|SEX_CCD|CLN_AGE_R|TA_YM|DAW_CCD_R|APV_TS_DL_TM_R|VLM|USEC

42|42|42830|여행|교통|M|40|202107|RED|활동|18730606|78

28|42|42830|여행|관광쇼핑|F|50|202107|RED|활동|319575|26

28|43|43111|취미오락|외식|F|60|202107|RED|활동|2187119|96

43|43|43111|취미오락|목욕|M|40|202107|RED|활동|1821140|201

43|43|43112|여행|관광쇼핑|F|40|202107|WHITE|활동|100688|17

36|43|43112|취미오락|유흥|F|30|202107|WHITE|활동|43777|8

43|43|43130|취미오락|패션쇼핑|F|60|202107|WHITE|휴식|20862653|297

28|43|43130|스포츠활동|골프|F|60|202107|WHITE|활동|18734108|140

47|43|43150|취미오락|외식|F|40|202107|WHITE|활동|8332593|245

30|43|43150|취미오락|외식|F|40|202107|WHITE|휴식|1091808|61

46|43|43710|취미오락|외식|M|50|202107|WHITE|휴식|169418|26

43|43|43720|취미오락|종교활동|F|40|202107|WHITE|활동|770482|78

43|43|43740|취미오락|종합쇼핑|M|20|202107|WHITE|휴식|2360916|218

43|43|43745|취미오락|미용|M|30|202107|RED|휴식|2171359|113

44|43|43745|취미오락|외식|M|30|202107|WHITE|휴식|9577623|218

27|43|43750|취미오락|외식|M|20|202107|RED|휴식|520075|35

43|43|43750|스포츠활동|레저스포츠|M|50|202107|WHITE|활동|3573112|253

43|43|43770|여행|체험|M|30|202107|RED|활동|1479676|35

28|44|44131|여행|체험|F|20|202107|WHITE|활동|700438|26

44|44|44133|문화예술활동|미술공예참여|M|50|202107|WHITE|활동|906192|52

43|44|44133|문화예술활동|공연관람|F|20|202107|WHITE|활동|486804|61

36|44|44133|취미오락|외식|M|50|202107|WHITE|취침|43777|8

41|44|44133|스포츠활동|레저스포츠|F|50|202107|RED|활동|1050658|26

27|44|44133|취미오락|종합쇼핑|M|60|202107|WHITE|취침|109443|17

44|44|44133|문화예술활동|악기연주|F|60|202107|WHITE|활동|3064419|8

30|44|44150|스포츠활동|레저스포츠|F|40|202107|WHITE|활동|183865|17

29|44|44150|취미오락|종합쇼핑|F|20|202107|RED|휴식|182989|35

46|44|44180|취미오락|외식|M|20|202107|RED|휴식|6260433|148

30|44|44180|여행|숙박|F|30|202107|RED|휴식|321326|35

In [4]:
with open('/Users/seoihwan/Downloads/2023 문화관광 데이터 분석대회_민간데이터/2023년 문화관광 데이터 분석대회(카드데이터_내국인).txt', encoding='utf-8') as f:
    column_names = f.readline().strip().split('|')

In [5]:
import pandas as pd

def read_large_file(filename):
    with open(filename, encoding='utf-8') as f:
        # 첫 번째 줄은 컬럼 이름으로 읽어옴
        column_names = f.readline().strip().split('|')
        
        # 나머지 데이터는 제너레이터로 읽어옴
        for line in f:
            yield line.strip().split('|')

# 제너레이터로부터 데이터프레임 생성
lines_generator = read_large_file('/Users/seoihwan/Downloads/2023 문화관광 데이터 분석대회_민간데이터/2023년 문화관광 데이터 분석대회(카드데이터_내국인).txt')
df = pd.DataFrame(lines_generator, columns=column_names)

In [6]:
df

,자택광역시도,가맹점광역시도,가맹점시군구,GB3,GB2,SEX_CCD,CLN_AGE_R,TA_YM,DAW_CCD_R,APV_TS_DL_TM_R,VLM,USEC
0,42,42,42830,여행,교통,M,40,202107,RED,활동,18730606,78
1,28,42,42830,여행,관광쇼핑,F,50,202107,RED,활동,319575,26
2,28,43,43111,취미오락,외식,F,60,202107,RED,활동,2187119,96
3,43,43,43111,취미오락,목욕,M,40,202107,RED,활동,1821140,201
4,43,43,43112,여행,관광쇼핑,F,40,202107,WHITE,활동,100688,17
...,...,...,...,...,...,...,...,...,...,...,...,...
36778843,29,44,44133,취미오락,인터넷게임,F,40,202206,WHITE,활동,518579,88
36778844,43,44,44133,취미오락,유흥,M,40,202206,WHITE,취침,790217,9
36778845,43,44,44150,취미오락,교육훈련,F,60,202206,RED,활동,98777,9
36778846,11,44,44200,여행,숙박,M,30,202206,RED,취침,3160868,9
36778847,43,44,44210,문화예술활동,공연관람,M,40,202206,WHITE,휴식,49388,19

In [7]:
df.to_csv('shinhan.csv',encoding='cp949',index=False)

In [8]:
df1 = df.copy()

In [6]:
df1.GB3.unique()

array(['여행', '취미오락', '스포츠활동', '문화예술활동'], dtype=object)

In [ ]:
plt.rc('font', family='AppleGothic')
palette = sns.color_palette('Set2')
gb3 = df1.groupby('GB3')['USEC'].sum().to_frame()
sns.barplot(y=gb3.index,x=gb3.GB3,palette=palette)

## 고려사항
- 거주지와 사용한(가맹점) 곳의 차이를 둘지 말지 why? 이는 근교로 관광쇼핑 하는 것도 여행으로 간주되기 때문

In [ ]:
df1.GB2.unique()

In [ ]:
plt.rc('font', family='AppleGothic')
palette = sns.color_palette('Set2')
gb2 = df1.groupby('GB2')['VLM'].sum().to_frame()
sns.barplot(y=gb2.index,x=gb2.GB2,palette=palette)

In [24]:
df_trav = df1[df1['자택광역시도'] != df1['가맹점광역시도']]
len(df_trav)

30045321

In [ ]:
df1.to_csv('shinhan.csv',encoding='euc-kr')

In [ ]:
df_gb2 = df1[df1.GB2.isin(['관광쇼핑','외식','숙박','애완동물돌보기'])]

In [ ]:
df = pd.read_csv('/Users/seoihwan/Downloads/2023 문화관광 데이터 분석대회_민간데이터/shinhan.csv',encoding='cp949')