In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [69]:
df = pd.read_csv('all_data_plus.csv',encoding='cp949')
df

,name,category,cat_code,addr,road_addr,x,y,do,si,gu,시군구,시도,시군구(특별)
0,쉼멍스테이,숙박,AD5,제주특별자치도 서귀포시 대정읍 동일리 3006,제주특별자치도 서귀포시 대정읍 신영로 16-14,33.223636,126.245981,제주특별자치도,서귀포시,대정읍,서귀포시,제주특별자치도,서귀포시
1,늘바다애견동반펜션,숙박,AD5,제주특별자치도 서귀포시 안덕면 창천리 901-6,제주특별자치도 서귀포시 안덕면 대평로 38,33.237243,126.363609,제주특별자치도,서귀포시,안덕면,서귀포시,제주특별자치도,서귀포시
2,씨사이드아덴리조트,숙박,AD5,제주특별자치도 서귀포시 색달동 2864-32,제주특별자치도 서귀포시 중문관광로 124,33.248447,126.414145,제주특별자치도,서귀포시,색달동,서귀포시,제주특별자치도,서귀포시
3,더리트리브,카페,CE7,제주특별자치도 서귀포시 안덕면 화순리 241,제주특별자치도 서귀포시 안덕면 화순로 67,33.247998,126.338557,제주특별자치도,서귀포시,안덕면,서귀포시,제주특별자치도,서귀포시
4,씨에나펜션,숙박,AD5,제주특별자치도 서귀포시 하예동 351-4,제주특별자치도 서귀포시 예래로 267,33.242133,126.385694,제주특별자치도,서귀포시,하예동,서귀포시,제주특별자치도,서귀포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10688,도로시펜션,숙박,AD5,경북 경주시 감포읍 오류리 144,경북 경주시 감포읍 연동길 12,35.836298,129.517114,경북,경주시,감포읍,경주시,경상북도,경주시
10689,더엘리트 키즈풀빌라펜션,숙박,AD5,경북 포항시 남구 구룡포읍 구평리 20-3,경북 포항시 남구 구룡포읍 동해안로4260번길 23,35.946952,129.537827,경북,포항시,남구,포항시,경상북도,포항시
10690,스톤앤비치풀빌라,숙박,AD5,경북 경주시 감포읍 오류리 566-1,경북 경주시 감포읍 감포로 250,35.810278,129.509673,경북,경주시,감포읍,경주시,경상북도,경주시
10691,나들집,숙박,AD5,경북 포항시 남구 구룡포읍 구룡포리 265-6,경북 포항시 남구 구룡포읍 용주로7번길 29,35.991559,129.561601,경북,포항시,남구,포항시,경상북도,포항시
10692,유니의바다 구룡포점,숙박,AD5,경북 포항시 남구 구룡포읍 석병리 113-3,경북 포항시 남구 구룡포읍 일출로332번길 95-10,36.028562,129.581282,경북,포항시,남구,포항시,경상북도,포항시

In [73]:
df.loc[(df.si == '고성군') & (df.do == '경남'),'시군구(특별)'] = '경남 고성군'
df.loc[(df.si == '고성군') & (df.do == '강원특별자치도'),'시군구(특별)'] = '강원도 고성군'

In [75]:
df.to_csv('all_data_plus.csv',encoding='cp949',index=False)

In [76]:
dd = df.copy()
dd.loc[df['category'].isin(['문화시설','병원','약국','주차장']),'category'] = '기타'

In [77]:
df1 = pd.crosstab(index=dd['시군구(특별)'],columns=dd['category'])

In [78]:
df1

category  관광명소  기타   숙박  음식점  카페
시군구(특별)
가평군         13  11  223   35  37
강남구          2  11    3   10  36
강동구          2   6    1    2  18
강릉시          8  11   70   33  33
강북구          1   5    1    6  19
...        ...  ..  ...  ...  ..
홍천군          5   5   69    6   8
화성시         13  25   24    9  66
화순군          4   4    4    2   8
화천군          3   2   11    0   0
횡성군          2   0   31    2   4

[228 rows x 5 columns]

In [85]:
df1.to_csv('final_animal.csv',encoding='cp949')

## 방문자수 2022 데이터전처리

In [80]:
df = pd.read_csv('방문자수_2022.csv',encoding='cp949')
df.head()

  광역지자체명 기초지자체명  기초지자체 방문자 수
0    강원도    고성군     11587818
1    강원도    춘천시     20469393
2    강원도    원주시     18684861
3    강원도    강릉시     26260986
4    강원도    동해시      6759629

In [81]:
df['시군구'] = df['기초지자체명']

In [82]:
df.loc[df['광역지자체명'].str.contains('광역시'),'시군구'] = df[df['광역지자체명'].str.contains('광역시')]['광역지자체명'] + ' ' + df[df['광역지자체명'].str.contains('광역시')]['기초지자체명']

In [83]:
df.loc[-df['광역지자체명'].str.contains('광역시'),'시군구'] = df.loc[-df['광역지자체명'].str.contains('광역시'),'시군구'].str[:3]

In [84]:
df.to_csv('visitors.csv',encoding='cp949')

## 방문자 수, 반려동물 출입가능 장소 데이터프레임 합치기

In [86]:
df1 = pd.read_csv('visitors_plus.csv')
df2 = pd.read_csv('final_animal.csv',encoding='cp949')

In [87]:
df2[df2.시군구 =='기타']

Empty DataFrame
Columns: [시군구, 관광명소, 기타, 숙박, 음식점, 카페]
Index: []

In [88]:
df2.columns = ['시군구','관광명소','기타','숙박','음식점','카페']

In [95]:
aa = pd.merge(df1,df2,on='시군구',how='outer')
alld = aa.loc[:228,]

In [96]:
alld

         시군구       방문자 수  관광명소    기타    숙박   음식점    카페
0    강원도 고성군  11587818.0   0.0   2.0  44.0   2.0   4.0
1        춘천시  20469393.0   8.0   6.0  56.0  16.0  31.0
2        원주시  18684861.0   6.0  16.0  20.0   4.0  35.0
3        강릉시  26260986.0   8.0  11.0  70.0  33.0  33.0
4        동해시   6759629.0   7.0  14.0  15.0   2.0   5.0
..       ...         ...   ...   ...   ...   ...   ...
224      진천군   7820432.0   2.0   2.0   2.0   1.0   3.0
225      괴산군   6793475.0   3.0   2.0  19.0   0.0   4.0
226      음성군   9234379.0   0.0   2.0   1.0   1.0   7.0
227      단양군   6669433.0   0.0   4.0  25.0   1.0   0.0
228      청주시  62205038.0   5.0  10.0  11.0  15.0  47.0

[229 rows x 7 columns]

In [97]:
alld.to_csv('animal_visit.csv',encoding='cp949',index=False)